In [82]:
import pandas as pd
import json
import ast
import numpy as np

In [98]:
df = pd.read_csv('Organisations in Senegal (data to display).csv')
df = df.astype(str)
# df = df[['Name of Organisation','Region','Can individuals contact them?']]
# df.rename(columns={'Name of Organisation': 'name','Region': 'region', 'Can individuals contact them?': 'contactable'}, inplace=True)
# df["id"] = 1+np.array(range(len(df)))
# df["test"] = 5
# df.to_csv('organisations dataset.csv', sep=',', index=False)
# filters = {"Region":"Dakar","Can individuals contact them?":"True"}
# for key, value in filters.items():
#     df = df.loc[df[key] == value]
# df = df[['Name of Organisation']]
# js = df.to_json(orient = 'index')
# js = ast.literal_eval(js)

# res = []
# for i in js:
# print(i)
# for key, value in js:
#     res.append(value)
# js.values()
# json.loads(str(js.values()))
# print(list(js.values()))
# df["test"] = 5
df['categories'][0] = "1,2"
(df['categories'][0]).split(",")

['1', '2']

In [46]:
df = pd.read_csv('organisations dataset.csv')

pd.set_option('display.max_rows', 10)
print(df)

                                                 name       region  \
0                                            La Liane  Saint-Louis
1                   Association Jeunesse Espoir (AJS)  Saint-Louis
2                           Connexion Sans Frontieres        Dakar
3       African Network for Horticultural Development        Dakar
4   African Network for Integrated Development (ANID)        Dakar
..                                                ...          ...
60                               ENDA Jeunesse Action        Dakar
61                                       World Vision        Dakar
62                                Samu Social Sénégal          NaN
63  RAO (Réseau Afrique de l’Ouest pour la protect...          NaN
64  COSAED (Collectif des Structures d'Appui aux E...          NaN

    contactable  id
0          True   0
1          True   1
2          True   2
3         False   3
4          True   4
..          ...  ..
60         True  61
61         True  62
62         True  63
63        False  64
64        False  65

[65 rows x 4 columns]

In [33]:
df2 = pd.DataFrame([["Dakar","True","new org"]], columns=['region','contactable','name'])
df = pd.concat([df,df2]).reset_index()
df

,index,name,region,contactable,id
0,0,La Liane,Saint-Louis,True,0.0
1,1,Association Jeunesse Espoir (AJS),Saint-Louis,True,1.0
2,2,Connexion Sans Frontieres,Dakar,True,2.0
3,3,African Network for Horticultural Development,Dakar,False,3.0
4,4,African Network for Integrated Development (ANID),Dakar,True,4.0
...,...,...,...,...,...
62,62,World Vision,Dakar,True,62.0
63,63,Samu Social Sénégal,NaN,True,63.0
64,64,RAO (Réseau Afrique de l’Ouest pour la protect...,NaN,False,64.0
65,65,COSAED (Collectif des Structures d'Appui aux E...,NaN,False,65.0
66,0,new org,Dakar,True,NaN

In [40]:
df3 = df.loc[df['index'] == 2]
js = df3.to_json(orient = 'index')
json.loads(js)

{'2': {'index': 2,
  'name': 'Connexion Sans Frontieres',
  'region': 'Dakar',
  'contactable': True,
  'id': 2.0}}

In [12]:
import pandas as pd

df = pd.DataFrame({'filename' :  ['test0.dat', 'test2.dat'], 
                                  'm': [12, 13], 'n' : [None, None]})

data = {'filename' :  'test2.dat', 'n':16}

# def update_vals(row, data=data):
#     if row.filename == data['filename']:
#         row.n = data['n']
#     return row

# df.apply(update_vals, axis=1)
df.loc[df.filename == 'test0.dat','m'] = 17
df

    filename   m     n
0  test0.dat  17  None
1  test2.dat  13  None

In [6]:
#delete
df = df[df.m != 12]
df

    filename   m     n
1  test2.dat  13  None